<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://graphchangenotificationstest20221112194013.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b3267109-645a-4b1d-8aa2-6130f982e555/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/GraphChangeNotificationsTest20221112194013</ResourceId>
    <UserName>$GraphChangeNotificationsTest20221112194013</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://graphchangenotificationstest20221112194013.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>